.body{
    overflow-x: hidden;
}
.img{
    width: 20px;
}

.Auth-container{
    background-image: url(assets/images/225.png);
    background-size:cover;
}
.bg-overLay{
    background:linear-gradient(to left, rgba(0,0,0,0.4),rgba(47, 140, 51, 0.7));
}
.photo{
    width: 150px;
    
}

.page-link{
    border-color: rgb(47, 140, 51 ) !important;
    color: black !important;
}
.info{
    color: rgb(47, 140, 51 ) ;
}
.page-link:hover{
    background-color: rgb(47, 140, 51 ) !important ;
    color:aliceblue !important ;
}
.header-content {
    background-image: url(../src/assets/images/header-bg-svg.svg);
    background-size: cover;
    background-position: 100% 100%;
    
}


.sidebar-container
.ps-sidebar-container{

    background-color:rgba(31, 38, 62, 1);
    color:rgb(255,255,255); 
    border-top-right-radius: 50px; 
} 
._sidebar_j2k35_11 {
    height:auto;
    background-color:rgba(31, 38, 62, 1);
    border-top-right-radius: 50px;
}
.css-1wvake5{
    border-color:transparent !important;
}

.image{
    width: 50px;
}

.shadow{
    border: 2px solid red !important;
    color: #198754 !important;

}

.photo1{
    height: 200px;
}

.sidebar-container
.ps-sidebar-container .ps-menuitem-root :hover{
    background-color:rgba(0, 146, 71, 0.1);
    border-left: 5px solid  rgb(47, 140, 51 ) ;
}
.sidebar-container
.ps-sidebar-container .ps-menuitem-root a 
   :hover{
    background-color:transparent;
    border-left:transparent ;
   }

.mod,.mod1,.deleteitem{
   border: 3px solid;
    border-radius: 7px;
}
.mod,.deleteitem{
    border-color:  brown ;
}
.mod1{
    border-color:#198754;
}
.headerImg {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
